<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsereCliente</servlet-name>
        <servlet-class>controle.InsereCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserePrestador</servlet-name>
        <servlet-class>controle.InserePrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validaLogin</servlet-name>
        <servlet-class>ValidaLogin.validaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preparaAcessoCliente</servlet-name>
        <servlet-class>controle.preparaAcessoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaAcesso</servlet-name>
        <servlet-class>ValidaLogin.ValidaAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testee</servlet-name>
        <servlet-class>ValidaLogin.testee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboEspecialidade</servlet-name>
        <servlet-class>controle.ComboEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testando</servlet-name>
        <servlet-class>ValidaLogin.testando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaAgendado</servlet-name>
        <servlet-class>Atendimento.buscaAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaEmergencia</servlet-name>
        <servlet-class>Atendimento.buscaEmergencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaANormal</servlet-name>
        <servlet-class>Atendimento.buscaANormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaNormal</servlet-name>
        <servlet-class>Atendimento.buscaNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeusAtendimentos</servlet-name>
        <servlet-class>Atendimento.MeusAtendimentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preparaAcessoPrestador</servlet-name>
        <servlet-class>controle.preparaAcessoPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solicitacao</servlet-name>
        <servlet-class>Atendimento.solicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviaOferta</servlet-name>
        <servlet-class>Atendimento.enviaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertaEnviadaAgendado</servlet-name>
        <servlet-class>Atendimento.ofertaEnviadaAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertaEnviadaNormal</servlet-name>
        <servlet-class>Atendimento.ofertaEnviadaNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalhaAtendimento</servlet-name>
        <servlet-class>Atendimento.detalhaAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusAtendimentoAgendado</servlet-name>
        <servlet-class>Atendimento.StatusAtendimentoAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusAtendimentoEmergencial</servlet-name>
        <servlet-class>Atendimento.StatusAtendimentoEmergencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusAtendimentoNormal</servlet-name>
        <servlet-class>Atendimento.StatusAtendimentoNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaUsuarios</servlet-name>
        <servlet-class>controle.CarregaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicosAntigos</servlet-name>
        <servlet-class>servicos.ServicosAntigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaPrestadorEmEmergencial</servlet-name>
        <servlet-class>Atendimento.AtualizaPrestadorEmEmergencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaPrestadorEmNormal</servlet-name>
        <servlet-class>Atendimento.AtualizaPrestadorEmNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaPrestadorEmAgendado</servlet-name>
        <servlet-class>Atendimento.AtualizaPrestadorEmAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicosARealizar</servlet-name>
        <servlet-class>servicos.ServicosARealizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaPrestador</servlet-name>
        <servlet-class>servicos.AgendaPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaNormal</servlet-name>
        <servlet-class>Atendimento.deletaNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaAgendado</servlet-name>
        <servlet-class>Atendimento.deletaAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaEmergencial</servlet-name>
        <servlet-class>Atendimento.deletaEmergencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalheSolicitacaoNormal</servlet-name>
        <servlet-class>servicos.detalheSolicitacaoNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereGerente</servlet-name>
        <servlet-class>controle.InsereGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaEspecialidade</servlet-name>
        <servlet-class>controle.CarregaEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereEspecialidade</servlet-name>
        <servlet-class>controle.InsereEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaEspecialidade</servlet-name>
        <servlet-class>controle.deletaEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaCliente</servlet-name>
        <servlet-class>controle.deletaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaClientes</servlet-name>
        <servlet-class>controle.CarregaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaGerente</servlet-name>
        <servlet-class>controle.deletaGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaGerentes</servlet-name>
        <servlet-class>controle.CarregaGerentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletaPrestador</servlet-name>
        <servlet-class>controle.deletaPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaPrestador</servlet-name>
        <servlet-class>controle.CarregaPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aprova</servlet-name>
        <servlet-class>analise.Aprova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaAnalise</servlet-name>
        <servlet-class>controle.CarregaAnalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reprova</servlet-name>
        <servlet-class>analise.reprova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bloqueia</servlet-name>
        <servlet-class>analise.Bloqueia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaMonitorar</servlet-name>
        <servlet-class>controle.CarregaMonitorar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarCadPrestador</servlet-name>
        <servlet-class>Relatorio.GerarCadPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarNormal</servlet-name>
        <servlet-class>Relatorio.GerarNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarAgendado</servlet-name>
        <servlet-class>Relatorio.GerarAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarEmergencial</servlet-name>
        <servlet-class>Relatorio.GerarEmergencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarCadCliente</servlet-name>
        <servlet-class>Relatorio.GerarCadCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adverte</servlet-name>
        <servlet-class>analise.Adverte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suspende</servlet-name>
        <servlet-class>analise.Suspende</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraCliente</servlet-name>
        <servlet-class>controle.AlteraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPrestador</servlet-name>
        <servlet-class>controle.AlteraPrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaEspecialidadePrestador</servlet-name>
        <servlet-class>controle.AdicionaEspecialidadePrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaEspecialidadePrestador</servlet-name>
        <servlet-class>controle.NovaEspecialidadePrestador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaEspecialidade</servlet-name>
        <servlet-class>controle.NovaEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraGerente</servlet-name>
        <servlet-class>controle.AlteraGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraValorAgendado</servlet-name>
        <servlet-class>Atendimento.AlteraValorAgendado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraValorEmergencial</servlet-name>
        <servlet-class>Atendimento.AlteraValorEmergencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraValorNormal</servlet-name>
        <servlet-class>Atendimento.AlteraValorNormal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsereCliente</servlet-name>
        <url-pattern>/InsereCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserePrestador</servlet-name>
        <url-pattern>/InserePrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validaLogin</servlet-name>
        <url-pattern>/validaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preparaAcessoCliente</servlet-name>
        <url-pattern>/preparaAcessoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaAcesso</servlet-name>
        <url-pattern>/ValidaAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testee</servlet-name>
        <url-pattern>/testee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboEspecialidade</servlet-name>
        <url-pattern>/ComboEspecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testando</servlet-name>
        <url-pattern>/testando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaAgendado</servlet-name>
        <url-pattern>/buscaAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaEmergencia</servlet-name>
        <url-pattern>/buscaEmergencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaANormal</servlet-name>
        <url-pattern>/buscaANormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaNormal</servlet-name>
        <url-pattern>/buscaNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeusAtendimentos</servlet-name>
        <url-pattern>/MeusAtendimentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preparaAcessoPrestador</servlet-name>
        <url-pattern>/preparaAcessoPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitacao</servlet-name>
        <url-pattern>/solicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviaOferta</servlet-name>
        <url-pattern>/enviaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertaEnviadaAgendado</servlet-name>
        <url-pattern>/ofertaEnviadaAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertaEnviadaNormal</servlet-name>
        <url-pattern>/ofertaEnviadaNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalhaAtendimento</servlet-name>
        <url-pattern>/detalhaAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusAtendimentoAgendado</servlet-name>
        <url-pattern>/StatusAtendimentoAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusAtendimentoEmergencial</servlet-name>
        <url-pattern>/StatusAtendimentoEmergencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusAtendimentoNormal</servlet-name>
        <url-pattern>/StatusAtendimentoNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaUsuarios</servlet-name>
        <url-pattern>/CarregaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicosAntigos</servlet-name>
        <url-pattern>/ServicosAntigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaPrestadorEmEmergencial</servlet-name>
        <url-pattern>/AtualizaPrestadorEmEmergencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaPrestadorEmNormal</servlet-name>
        <url-pattern>/AtualizaPrestadorEmNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaPrestadorEmAgendado</servlet-name>
        <url-pattern>/AtualizaPrestadorEmAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicosARealizar</servlet-name>
        <url-pattern>/ServicosARealizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaPrestador</servlet-name>
        <url-pattern>/AgendaPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaNormal</servlet-name>
        <url-pattern>/deletaNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaAgendado</servlet-name>
        <url-pattern>/deletaAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaEmergencial</servlet-name>
        <url-pattern>/deletaEmergencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalheSolicitacaoNormal</servlet-name>
        <url-pattern>/detalheSolicitacaoNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereGerente</servlet-name>
        <url-pattern>/InsereGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaEspecialidade</servlet-name>
        <url-pattern>/CarregaEspecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereEspecialidade</servlet-name>
        <url-pattern>/InsereEspecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaEspecialidade</servlet-name>
        <url-pattern>/deletaEspecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaCliente</servlet-name>
        <url-pattern>/deletaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaClientes</servlet-name>
        <url-pattern>/CarregaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaGerente</servlet-name>
        <url-pattern>/deletaGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaGerentes</servlet-name>
        <url-pattern>/CarregaGerentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletaPrestador</servlet-name>
        <url-pattern>/deletaPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaPrestador</servlet-name>
        <url-pattern>/CarregaPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aprova</servlet-name>
        <url-pattern>/Aprova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaAnalise</servlet-name>
        <url-pattern>/CarregaAnalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reprova</servlet-name>
        <url-pattern>/reprova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bloqueia</servlet-name>
        <url-pattern>/Bloqueia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaMonitorar</servlet-name>
        <url-pattern>/CarregaMonitorar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarCadPrestador</servlet-name>
        <url-pattern>/GerarCadPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarNormal</servlet-name>
        <url-pattern>/GerarNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarAgendado</servlet-name>
        <url-pattern>/GerarAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarEmergencial</servlet-name>
        <url-pattern>/GerarEmergencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarCadCliente</servlet-name>
        <url-pattern>/GerarCadCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adverte</servlet-name>
        <url-pattern>/Adverte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suspende</servlet-name>
        <url-pattern>/Suspende</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraCliente</servlet-name>
        <url-pattern>/AlteraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPrestador</servlet-name>
        <url-pattern>/AlteraPrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaEspecialidadePrestador</servlet-name>
        <url-pattern>/AdicionaEspecialidadePrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaEspecialidadePrestador</servlet-name>
        <url-pattern>/NovaEspecialidadePrestador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaEspecialidade</servlet-name>
        <url-pattern>/NovaEspecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraGerente</servlet-name>
        <url-pattern>/AlteraGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraValorAgendado</servlet-name>
        <url-pattern>/AlteraValorAgendado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraValorEmergencial</servlet-name>
        <url-pattern>/AlteraValorEmergencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraValorNormal</servlet-name>
        <url-pattern>/AlteraValorNormal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>21</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro500.jsp</location>
    </error-page>
    <jsp-config>
    </jsp-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/ErroAcesso.html</form-error-page>
        </form-login-config>
    </login-config>
    <resource-ref>
        <res-ref-name>la</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
